In [33]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import pandas as pd
import subprocess
import re
%matplotlib inline

In [39]:
def str_query(str, db, debug=False):
    result = subprocess.run(
        [
            "/opt/mssql-tools/bin/sqlcmd", 
            "-E",
            "-S",
            "edwpub.s.uw.edu",
            "-Q",
            str,
            "-s|",
            "-d",
            db
        ], stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    if debug:
        print(result.stdout.decode('utf-8'))

    rows = result.stdout.decode('utf-8').split("\n")
    if result.stderr:
        print(result.stderr.decode('utf-8'))
    rows = [ [val.strip() for val in row.split("|")] for row in rows]
    keys = rows[0]
    rows = rows[2:-3]
    return pd.DataFrame(rows,columns=keys)

def query(path,db,subs={},debug=False):
    f = open(path, "r")
    q = f.read()
    for key in subs:
        expr = re.compile("@"+key)
        q = re.sub(expr,subs[key],q)
    if debug:
        print(path)
        print(q)
    return str_query(q,db,debug)

In [40]:
query("queries/date.sql","ODS", debug=False)

0  2020-10-09 09:34:21.567

In [42]:
str_query("SELECT getdate()", "ODS", debug=True)

'                       \n-----------------------\n2020-10-09 09:35:56.820\n\n(1 rows affected)\n'