In [1]:
# Import the library

# TODO: Add this directory to the python path via the Dockerfile
import sys
sys.path.insert(0, "/home/jovyan/work/src")
import pyedw as edw

In [2]:
edw.kinit()

Enter UW NetID: klavins
Enter Password: ········
authenticated

In [3]:
# Run a query 
df = edw.str_query("SELECT getdate()", "ODS", debug=False)
df

0  2020-10-12 10:45:14.293

In [4]:
# Run a query that is defined in a file 
# In this case, the query is in queries/date.sql
df = edw.query("date.sql","ODS", debug=False)
df

0  2020-10-12 10:45:15.537

In [5]:
# Show all the departments in the college of engineering
df = edw.query(
    "departments.sql",
    "UWSDBDataStore", 
    subs={"College": "'J'"}, 
    debug=False)
df

   dept_code                                   Dept
0        400           AERONAUTICS AND ASTRONAUTICS
1        402                   CHEMICAL ENGINEERING
2        403    CIVIL AND ENVIRONMENTAL ENGINEERING
3        406       COMPUTER SCIENCE AND ENGINEERING
4        410    ELECTRICAL AND COMPUTER ENGINEERING
5        412                            ENGINEERING
6        999                 EXCHANGE (ENGINEERING)
7        438  HUMAN CENTERED DESIGN AND ENGINEERING
8        418     INDUSTRIAL AND SYSTEMS ENGINEERING
9        423        MATERIALS SCIENCE & ENGINEERING
10       419                 MECHANICAL ENGINEERING

In [6]:
# Figure out a PI's OrgCode
df = edw.str_query(
    "SELECT TOP 1 * FROM sec.FinancialOrganization WHERE OrgName = 'EE KLAVINS'", 
    "ODS", 
    debug=False)
orgcode = int(df.OrgCode[0])
orgcode

2600007190

In [7]:
edw.kdestroy()